.menu:hover {
  color: black;
}


.level {
  width: 60%;
  margin: auto;
}

.heading {
  padding-top: 8%;
}

.lien {
  color: grey;
}

.lien:hover {
  color: black;
}

/* --------------------------------- contact -------------------------------- */

.center{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}


/* -------------------------------- img_logo -------------------------------- */

.logo {
  display: flex;
  width: 200px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.size {
  width: 85%;
  padding-bottom: 1%;
  margin: auto;
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
}

/* -------------------------------- img_album ------------------------------ */

.img_album {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 3%
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  opacity: 0.8;
}

.container {
  position: relative;
  margin-top: 3%;
}

/* -------------------------------- Slider --------------------------------- */

.slide{
  height: 100%;
  width: auto;
  opacity: 0.8;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  padding-top: 4%;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #bbb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: black;
}

/* Caption text */
.text {
  color: black;
/*  font-size: larger;*/
  font-size: 30px;
  position: absolute;
  bottom: 45%;
  width: 100%;
  text-align: center;
  }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
